@import "../styles/_variables.scss";


.gameboard-wrapper {
    width: 100%;
    margin: auto;

    .logo {
        position: absolute;
        top: 5%;
        left: 48%;
    }

    .gameboard {

        .layer-white,
        .layer-black {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 600px;
            height: 600px;
            margin-top: -300px;
            margin-left: -300px;
        }

        .player1-score,
        .player2-score {
            width: 141px;
            height: 160px;
            flex-shrink: 0;
            border-radius: 20px;
            border: 3px solid var(--Black, #000);
            background: var(--White, #FFF);
            box-shadow: 0px 10px 0px 0px #000;
        }

        .current-turn-section-wrapper {
            position: absolute;


            .current-turn-background {
                position: relative;
                width: 191px;
                height: 150px;
                flex-shrink: 0;
                fill: var(--Red, #FD6687);
                stroke-width: 3px;
                stroke: var(--Black, #000);
                filter: drop-shadow(0px 10px 0px #000);

            }

            .current-turn-countdown {
                top: 3em;
                position: absolute;
                left: 20%;
            }

            .red {
                color: $white
            }

            .yellow {
                color: $black
            }
        }
    }
}