@import "../styles/_variables.scss";

.gameboard-wrapper {
  width: 100%;
  margin: auto;

  button {
    border-radius: 20px;
    background: $dark-purple;
    color: $white;
  }

  .logo {
    position: absolute;
    top: 5%;
    left: 48%;
  }

  .gameboard {

    .player1-score,
    .player2-score {
      width: 141px;
      height: 160px;
      flex-shrink: 0;
      border-radius: 20px;
      border: 3px solid $black;
      background: $white;
      box-shadow: 0px 10px 0px 0px $black;
    }

    .current-turn-section-wrapper {
      position: absolute;

      .current-turn-background {
        position: relative;
        width: 191px;
        height: 150px;
        flex-shrink: 0;
        fill: var(--Red, #fd6687);
        stroke-width: 3px;
        stroke: var(--Black, #000);
        filter: drop-shadow(0px 10px 0px #000);
      }

      .current-turn-countdown {
        top: 3em;
        position: absolute;
        left: 20%;
      }

      .red {
        color: $white;
        background: $pink;
      }

      .yellow {
        color: $black;
        background: $yellow;
      }
    }
  }
}

// menu modal
.menu-modal {
  position: absolute;
  z-index: 99;
  top: 55%;
  left: 50%;
  width: 480px;
  height: 491px;
  flex-shrink: 0;
  margin-top: -300px;
  margin-left: -300px;
  border-radius: 40px;
  border: 3px solid $black;
  background: $purple;
  box-shadow: 0px 10px 0px 0px $black;

  button {
    border-radius: 20px;
    border: 3px solid var(--Black, #000);
    background: var(--White, #fff);
    box-shadow: 0px 10px 0px 0px #000;
    color: $black;
  }
}

//  board
.board::before {
  top: -5px;
  content: "";
  background: url("/assets/images/board-layer-black-large.svg") no-repeat;
  position: absolute;
  width: 200%;
  height: 150%;
  cursor: pointer;
  z-index: -1;
}

.board::after {
  top: -5px;
  content: "";
  background: url("/assets/images/board-layer-white-large.svg") no-repeat;
  position: absolute;
  width: 200%;
  height: 150%;
  pointer-events: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  left: 200px;
  top: 0px;
  z-index: 1;
  width: 26rem;
  height: 26rem;
  column-gap: 2px;

  .column {
    position: relative;
    left: 9px;
    width: 86px;
    height: 125%;
    border-radius: 32px;
    cursor: pointer;
  }

  .marker {
    position: relative;
    top: -35px;
    left: 7px;
    width: 32px;
    height: 26px;
  }

  .piece {
    color: #fff;
    width: 88px;
    height: 82px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 8px;
    position: relative;
    top: 8px;
    // img {}
  }

  .red-counter {
    // display: block;
    position: absolute;
    width: 83px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: -10px;

  }

  .yellow-counter {
    // display: block;
    position: absolute;
    width: 83px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: -10px;
  }
}