@import "./styles/_variables.scss";

.main-wrapper {
  text-align: center;
}

body {
  font-family: $font;
  background: $purple;
}

h1 {
  font-family: $font;
}

.rules-heading {
  @include headingL;
  font-weight: 700;
  color: $black;

  .headingS {
    color: $pink;
  }
}